.Finder__title {
  margin: var(--title-margin);
  text-align: center;
}

.Finder__searchInput {
  width: 100%;
  display: block;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  border: 0;
  box-shadow: 0 0 8px rgba(0 0 0 / 20%);
}
