.Header {
  position: fixed;
  padding: 0.5rem;
  background-color: #ffbb;
  top: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0 0 0 / 20%);
}

.logo {
  width: 70px;
}

.Header__title {
  font-size: 1.5rem;
}
