.ShoppingList__title {
  margin: var(--title-margin);
  text-align: center;
}

.ShoppingList__list {
  display: flex;
  height: 46.8vh;
  overflow-y: auto;
  flex-flow: column;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.ShoppingList__mama {
  width: 300px;
}
