.ShoppingList__title {
  margin: var(--title-margin);
  text-align: center;
}

.ShoppingList__list {
  display: flex;
  height: 46.8vh;
  overflow-y: scroll;
  flex-flow: column;
  gap: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.5rem 0.5rem;
}
