@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source sans pro', sans-serif;
  font-size: 20px;
}

main {
  margin: 2rem;
  margin-top: 6rem;
}

section {
  width: 100%;
  margin: 2rem 0;
}
