@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source sans pro', sans-serif;
  background-color: #ffe4c0;
}

main {
  display: flex;

  flex-flow: column wrap;
  margin: 1rem;
  margin-top: 3rem;
}

section {
  margin: 1.5rem 0;
  margin-bottom: 0;
}
